/*  your css code here. If applicable */
body{
    background-color: #cccccc;
    text-align: center;
}
.player_one
{
    padding-left: 20px;
    background-color: white;
    text-align: left;
    border: 1px solid black;
    border-radius: 5px;
    padding-top: 30px;
    padding-bottom: 30px;
    
}
.song_links
{
    text-decoration: none;
    color: black;
    font-weight:lighter
}
.player_two
{
    display: inline-block;
    background-color: white;
    padding: 5px;
    border-radius: 2px;
}