body{
    background-color: #cccccc;
    text-align: center;
}
.player_one
{
   
    background-color: white;
    text-align: left;
    border: 1px solid black;
    border-radius: 5px;
    
    
}
li
{
	 list-style-type: none;
}
.song_links
{
    text-decoration: none;
    color: black;
    font-weight:lighter
}
.player_two
{
    display: inline-block;
    background-color: white;
    padding: 5px;
    border-radius: 2px;
}